.content {
	background:$c-blue
;	padding:10px;
	color:white;
	h2{
		font-size: 1.6rem;
		margin-top: 10px;
		margin-bottom: 10px;
		border-bottom:5px solid $c-green;
	}
}
.contact-section{
	padding:5px;
	ul{
		padding:10px;
	}
	li{
		
		color:white;
		font-size:12px;
	}
	img{
		margin:0 auto;
	}
}
.green-line{
	border-bottom:5px solid $c-green;
}
.white-line{
	margin-top: 36px;
}
.no-margin-right{
	margin-right:0px
}