.content {
	background:$c-blue;
	padding:10px;
	margin-bottom:15px;
	margin-top: 5px;
	color:white;
	h2{
		font-size: 1.6rem;
		margin-top: 10px;
		margin-bottom: 0px;
		border-bottom:5px solid $c-green;
	}

	p a {
		color: white;
	}
	strong {
		color: white;
	}

}
.contact-section{
	padding:5px;
	height: 294px;
	ul{
		padding:10px;
	}
	li{
		color:white;
		font-size:12px;
	}
	img{
		margin:0 auto;
	}
}
.white-line{
	margin-top: 3.8%;
}
.green-line{
	border-bottom:5px solid $c-green;
}
.no-margin-right{
	margin-right:0px;
}

////////////////////////////////
// Code van Gino //////////////
//Dit zijn de tabs
#dienstcontentpadding {
	margin-top: 19px;
}

.wit {
	color: white !important;
}
#homelistitems {
	li {
		padding-bottom: 7px;
		padding-top: 7px;
		text-align: center;
	}
}
.right-menu{
	ul.tabs li.active {
		padding-bottom: 14px !important;
	}
}

h3{
	margin-top: 0px;
	margin-bottom: 15px; 
}
ul.tabs {
	margin-top: 4px;
	list-style: none;	
}

ul.tabs li {
	cursor: pointer;
	position: relative;
}

.tab_last {}

ul.tabs li:hover {
}

ul.tabs li.active {
	display: block;
	background-color: #c4cf00;
}

#overons-tab-group{
	
}

.tab_container {
	border-top: none;
	clear: both;
	overflow: auto;
}

.tab_content {
	padding: 20px;
	display: none;
}

.tab_drawer_heading { display: none; }

.li {
	font-width: bold !important;
}

#nav_menu-2{
	visibility: hidden; //De standaart footer is hierdoor verborgen. Hij staat er wel maar is invisble.
}     					//Eigenlijk moet die weg zonder de andere code om te gooien.

#homelistitems{
	margin-top: 14px;
}
#overonslijst{
	margin-top: 0px;
}

.vcalijst{
	margin-bottom: 0px;
}
#vacature-formulier{
	color:  !important;
	background-color: transparent !important;
}


@media screen and (max-width: 220px) {
	.tabs {
		display: none;
	}
	.tab_drawer_heading {
		background-color: #ccc;
		color: #fff;
		border-top: 1px solid #333;
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.d_active {
		background-color: #666;
		color: #fff;
	}

}
@media screen and (max-width: 1200px) {
	.white-line{
		display: none;
	}
	
}
@media screen and (max-width: 1000px) {
	.vacatureafbeelding{
		display: none;		
	}
}

@media screen and (max-width: 900px) {
	.contact-section{
		ul{
			text-align: center;
		}
		.vca {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
 	}
}
@media screen and (max-width: 900px) {
	.contact-section{
		img{
			margin-left: 40%;
		}
	}
}
@media screen and (max-width: 775px) {
	.contact-section{
		img{
			margin-left: 37%;
		}
	}
}
@media screen and (max-width: 600px) {
	.contact-section{
		img{
			margin-left: 30%;
		}
	}
}
@media screen and (max-width: 300px) {
	.contact-section{
		img{
			margin-left: 15%;
		}
	}
}
@media screen and (max-width: 300px) {
	#lijst-twee{
		display: none;
	}
}


a:link {
color:#000000;
}
a:visited {
color:#696969;
}

#input_1_1{
	color:black !important;
	width:60% !important;
	font-size: 16px;
}
#input_1_2{
	color:black;
	width:60%;
	font-size: 16px;
}
#input_1_3{
	color:black;
	width:60%;
	font-size: 16px;
}
#input_1_4{
	color:black;
	width:60%;
	font-size: 16px;
}
#input_1_5{
	color:black;
	width:9%;
	font-size: 16px;
}
#gform_submit_button_1{
	color:black;
}
#input_2_1{
	color:black !important;
	width:60% !important;
	font-size: 16px;
}
#input_2_2{
	color:black;
	width:60%;
	font-size: 16px;
}
#input_2_3{
	color:black;
	width:60%;
	font-size: 16px;
}
#input_2_4{
	color:black;
	width:60%;
	font-size: 16px;
}
#input_2_5{
	color:black;
	width:9%;
	font-size: 16px;
}
#input_2_6{
	color:black;
	width:60%;
	font-size: 16px;
}
#gform_submit_button_2{
	color:black;
}
.menu-0 {
	width: 120px;
	color: black;
}

@media screen and (max-width: 1000px) {
	.bellenenmail {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	.certificering {
		display: none;
	}
}

.footermobile {
	text-align: center;
		a {
			color: white;
		}
}

@media screen and (min-width: 900px) {
	.footermobile {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	.footerpc {
		display: none;
	}
}

.box {
	margin-right: 0px;
}

.Content-article {
	font-weight: bold;
}