.Footer {
	display: none;
}

// RESPONSIVE FOOTER
.Footer-inner .widget {
	@include span-columns(4);
	@media screen and(max-width: 980px){
		@include span-columns(12);
	}
}

.Footer-inner {
}

//style the widgets
.Footer-inner .widget {

}
.sitemap{
	height: 26px;
}

.Socket {
	float: right;
}
.blauwkleur {
	color: #005391;
}
.oranjekleur{
	color: #f7942c;
}
.lgopmaakt {
	margin-right: 205px;
	p {
		font-weight: bold;
		font-size: 13px;
	}
}

@media screen and (max-width: 900px) {
	.lgopmaakt {
		margin-right: 100px;
	}
}
@media screen and (max-width: 600px) {
	.lgopmaakt {
		margin-right: 50px;
	}
}
@media screen and (max-width: 500px) {
	.lgopmaakt {
		margin-right: 0px;
	}
}