// *************************************
//
// Settings
// -> Fonts, Variables
//
// *************************************

// -------------------------------------
// @font-face
// -------------------------------------

// Open Sans (normal, italic, bold, bold/italic)
@include web-fonts(("Open Sans": ("400", "400 italic", "800", "800 italic")));

// -------------------------------------
// Variables
// -------------------------------------

$max-width: 90rem;
// ----- Colors ----- //

$c-black : #1B1C17;
$c-blue  : #071827;
$c-white : #EFEFEF;
$c-green : #c4cf00;
// ----- Layout ----- //
$l-whiteSpace: 0.5rem;
$l-insideGutter: 1rem;

// Borders & Box-shadows
$l-border         : 1px solid $c-black;
$l-borderRadius   : 3px;
$l-boxShadow      : 0 1px 2px rgba($c-black, 0.25);

// ----- Text ----- //

$t-fontFamily       : 'Raleway', 'sans-serif';
$t-headerFontFamily : 'Open Sans', 'sans-serif';
$t-fontSize         : 14px;
$t-lineHeight       : 1.5;

$gridColSpan12Breakpoint: 900px;
